* {
    -fx-primary-color: #004788;
    -fx-secondary-color: #D5E3FF;
    -fx-light-grey-color: #004788;

    -fx-focus-color: -fx-secondary-color;

    /*-fx-background-radius: 8;*/
}

.date-picker .arrow-button {
    -fx-background-color: -fx-secondary-color;
    -fx-background-radius: 0;
}
.date-picker .arrow-button:hover {
    -fx-background-color: -fx-secondary-color;
}
.date-picker .arrow-button .arrow {
    -fx-background-color: -fx-primary-color;
}
.date-picker .cell {
    -fx-background-color: black;

}
.date-picker .cell:hover {
    -fx-background-color: -fx-light-grey-color;
}
.date-picker .cell:focused {
    -fx-background-color: -fx-light-grey-color;
}
.date-picker .selected {
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: black;

}
.date-picker .selected:focused {
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: black;

}
.date-picker-popup  {
    -fx-border-color: transparent;
    -fx-background-radius: 16;

}
.date-picker-popup .month-year-pane {
    -fx-background-color: -fx-primary-color;

}
.date-picker-popup .month-year-pane .label {
    -fx-text-fill: -fx-secondary-color;

}
.date-picker-popup .week-number-cell {
    -fx-text-fill: -fx-secondary-color;

}
.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
    -fx-background-color: -fx-secondary-color;
}
/*.date-picker .text-field{*/
/*    -fx-background-color: -fx-primary-color;*/
/*}*/
.date-picker, .date-picker .text-field{
    -fx-background-color: -fx-primary-color;
    -fx-border-color: #899393;
}
