@import "lightCombo.css";
@import "lightDate.css";
@import "typography.css";
@import "lightListView.css";


.switch .thumb-area{
    -fx-background-color: #D9E3F8;
}
.switch:selected .thumb-area{
    -fx-background-color:  #2FA7B0;
}
.switch .thumb{
    -fx-background-color: #EEEDF1;
}

.primary-container{
    -fx-background-color: #D5E3FF;
    -fx-text-fill: #001B3B;
    -fx-fill: #D5E3FF;
}
.primary-on-container {
    -fx-text-fill: #D5E3FF;
    -fx-background-color: #001B3B;
    -fx-fill: #001B3B;
}
.primary-text-container{
    -fx-text-fill: #001B3B;
}
.primary{
    -fx-background-color: #235FA6;
    -fx-text-fill: #FFFFFF;
    -fx-fill: #235FA6;
}
.primary-on{
    -fx-text-fill: #235FA6;
    -fx-background-color: #FFFFFF;
}
.primary-text{
    -fx-text-fill: #235FA6;
}
.surface-container{
    -fx-background-color: #EEEDF1;
    -fx-text-fill: #3F4849;
}
.surface{
    -fx-background-color: #FAF9FD;
    -fx-text-fill: #001B3B;
}
.surface-container-highest{
    -fx-text-fill: #001B3B;
    -fx-background-color: #E3E2E6;
}
.surface-container-high{
    -fx-background-color: #E9E7EB;
    -fx-text-fill: #001B3B;
}
.surface-container-low{
    -fx-background-color: #F4F3F7;
    -fx-text-fill: #001B3B;
}
.surface-container-lowest{
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #001B3B;
}
.secondary{
    -fx-background-color: #555F71;
    -fx-text-fill: #FFFFFF;
}
.secondary-container{
    -fx-background-color: #D9E3F8;
    -fx-text-fill: #121C2B;
}
.secondary-text-container{
    -fx-text-fill: #121C2B;
}
.tertiary{
    -fx-background-color: #7A5900;
    -fx-text-fill: #FFFFFF;
}
.tertiary-on{
    -fx-text-fill: #7A5900;
    -fx-background-color: #FFFFFF;
}
.tertiary-container{
    -fx-background-color: #FFDEA1;
    -fx-text-fill: #261900;
}
.inv-on-surface{
    -fx-background-color: #F1F0F4;
    -fx-text-fill: #2F3033;
}
.outline{
    -fx-border-color: #6F797A;
}

.separator *.line{
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: #6F797A;
}

.primary-fixed-dim{
    -fx-background-color: #A7C8FF;
    -fx-text-fill: #001B3B;
}

.error-container{
    -fx-background-color: #FFDAD6;
    -fx-text-fill: #410002;
}

.error{
    -fx-background-color: #BA1A1A;
    -fx-text-fill: #FFFFFF;
}

.teal{
    -fx-background-color: #2FA7B0;
    -fx-text-fill: #FFFFFF;
}

.white{
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
}

.on-suface-text{
    -fx-text-fill: #1A1C1E;
}

.table-view .column-header .label {
    -fx-font-size: 18;
}

.table-view .table-row-cell:even{
    -fx-font-size: 18;
    -fx-background-color: #A7C8FF;
    -fx-text-background-color: #000000;
    -fx-text-fill: #000000;
    -fx-font-family: Roboto;
}

.table-view .table-row-cell:odd{
    -fx-font-size: 18;
    -fx-background-color: #D5E3FF;
    -fx-text-background-color: #000000;
    -fx-text-fill: #000000;
    -fx-font-family: Roboto;
}
.titled-pane > .title{
    -fx-font-size: 22px;
    -fx-font-family: Roboto;
    -fx-text-fill: #1A1C1E;
    -fx-background-color: #EEEDF1;
}
.titled-pane > *.content {
    -fx-background-color: #EEEDF1;
}

.text-area{
    -fx-control-inner-background: #D5E3FF;
    -fx-text-fill:  #001B3B;
    -fx-border-radius: 8;
    -fx-border-color: #6F797A;
    -fx-border-width: 1;
    -fx-font-family: Roboto;
    -fx-font-style: Normal;
    -fx-font-size: 28;
    -fx-line-height: 36;
    -fx-letter-spacing:0px;
    -fx-background-radius: 8;
    -fx-min-height: 60;
}

.scroll-pane {
    -fx-background: #FAF9FD;
}
/*.logo{*/
/*    -fx-background-image: url("../resources/edu/wpi/teamname/images/Logos/LoginLogoIteration1.png");*/
/*    -fx-background-position: center;*/
/*    -fx-background-repeat: no-repeat;*/
/*    -fx-background-size: 100% 100%;*/
/*}*/