Button{
    -fx-background-color: #235FA6;
    -fx-background-radius: 100;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: Roboto;
    -fx-font-size: 24px;
    -fx-line-height: 36px;
    -fx-spacing: 0px;
}
MFXButton{
    -fx-background-color: #235FA6;
    -fx-background-radius: 100;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: Roboto;
    -fx-font-size: 24px;
    -fx-line-height: 36px;
    -fx-spacing: 0px;
}