* {
    -fx-primary-color: #D5E3FF;
    -fx-secondary-color: #001B3B;
    -fx-light-grey-color: #D5E3FF;

    /*-fx-focus-color: -fx-secondary-color;*/

    -fx-font-size: 28px;
    -fx-font-family: Roboto;
    -fx-line-height: 36px;
    /*-fx-background-radius: 8;*/
}

.date-picker .arrow-button {
    /*-fx-background-color: -fx-primary-color;*/
    -fx-background-radius: 0;
}
.date-picker .arrow-button:hover {
    /*-fx-background-color: -fx-secondary-color;*/
}
.date-picker .arrow-button .arrow {
    /*-fx-background-color: -fx-secondary-color;*/
}
.date-picker .cell {
    /*-fx-background-color: white;*/

}
.date-picker .cell:hover {
    /*-fx-background-color: -fx-light-grey-color;*/
}
.date-picker .cell:focused {
    /*-fx-background-color: -fx-light-grey-color;*/
}
.date-picker .selected {
    /*-fx-background-color: -fx-primary-color;*/
    /*-fx-text-fill: white;*/

}
.date-picker .selected:focused {
    /*-fx-background-color: -fx-primary-color;*/
    /*-fx-text-fill: white;*/

}
.date-picker-popup  {
    /*-fx-border-color: transparent;*/
    -fx-background-radius: 16;

}
.date-picker-popup .month-year-pane {
    /*-fx-background-color: -fx-primary-color;*/

}
.date-picker-popup .month-year-pane .label {
    /*-fx-text-fill: -fx-secondary-color;*/

}
.date-picker-popup .week-number-cell {
    /*-fx-text-fill: -fx-secondary-color;*/

}
.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
    /*-fx-background-color: -fx-secondary-color;*/
}
.date-picker, .date-picker .text-field{
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    /*-fx-border-color: #6F797A;*/
    -fx-border-width: 1;
    -fx-min-height: 60;
}

