.L1{
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 5000px 3400px;
    -fx-background-image: url("../images/MapImages/00_thelowerlevel1.png");
}

.L2{
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 5000px 3400px;
    -fx-background-image: url("../images/MapImages/00_thelowerlevel2.png");
}

.G1{
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 5000px 3400px;
    -fx-background-image: url("../images/MapImages/01_thefirstfloor.png");
}

.G2{
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 5000px 3400px;
    -fx-background-image: url("../images/MapImages/02_thesecondfloor.png");
}

.G3{
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 5000px 3400px;
    -fx-background-image: url("../images/MapImages/03_thethirdfloor.png");
}

.GG{
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 5000px 3400px;
    -fx-background-image: url("../images/MapImages/00_thegroundfloor.png");
}

