



VBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 0px 0px;
    isolation: isolate;

    width: 228px;
    height: 1080px;

    /*-fx-background-color: --md-sys-color-primary;*/
}
MFXButton{
    /*-fx-background-color: #FAF9FD;*/
    -fx-border-color: #6F797A;
    -fx-border-width: 0 0 2px 0;
    /*-fx-font-fill: #1A1C1E;*/
    -fx-font-family: Roboto;
    /*-fx-font-style: Medium;*/
    /*-fx-font-weight: 400px;*/
    -fx-font-size: 16px;
    -fx-line-height: 24px;
    -fx-letter-spacing: 0.15px;
    /*-fx-background-color: #EEEDF1;*/

}