.label{
    -fx-font-family: --md-sys-typescale-display-large-font-family-name;
    -fx-font-style: normal;
    -fx-font-weight: 400;
    -fx-font-size: 57px;
    -fx-line-height: 64px;
    -fx-letter-spacing: -.25px;
    -fx-text-fill: #235fa6;
    -fx-background-color: #FAF9FD;


}


